@keyframes moveRightLines {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes moveRightTable {

    from {
        transform: translateX(-10%);
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}