@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* font-family: 'Abel', sans-serif; */

body {
    margin: 0;
    padding: 0;
    background: #0e0c11;
    min-width: 375px;
    color: white;
    font-size: 20px;
    font-family: 'Abel','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-y: scroll;
}

*::selection{
    background: rgba(84, 84, 84, 0.5);
    color: white;
}

a {
    color: rgb(255, 188, 244);
    text-decoration: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}

a:hover {
    color: rgb(255, 180, 40);
}

a:active {
    color: rgb(255, 213, 98);
}

a::after {
    content: '';
    position: absolute;
    bottom: 1em;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(255, 213, 98);
    transition: width 0.8s ease;
}

a:hover::after {
    width: calc(100% - 3em);
}

p {
    margin: 0;
    padding: 0;
}

.table-container {
    max-width: 80%;
    margin: 4em 4em;
    animation: moveRightTable .8s ease forwards 1.6s;
    opacity: 0;
    z-index: -1;
}

.row {
    margin: 2em;
    font-size: 1.2em;
    display: flex;
}

@media(max-width: 560px) {
    body {
        font-size: 10px;
    }
}

@media (min-width: 561px) and (max-width: 768px) {
    body {
        font-size: 15px;
    }
}

.description {
    margin: 0 8em 0 0em;
    padding: 0;
    width: 1em;
    white-space: nowrap;
    color: rgb(255, 255, 255);
}

.links {
    margin: 0;
    padding: 0;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.links a {
    margin: 0;
    padding: 0 3em 1em 0;
    white-space: nowrap;
    display: flex;
    width: fit-content;
}

#return_link {
    position: fixed;
    padding: 0.3em 0.6em;
    border-radius: 0.6em;
    top: 1em;
    right: 2em;
    font-size: 1.2em;
    opacity: 0;
    animation: fadein .8s ease forwards 2.4s;
    transition: all 0.3s ease;
}

#return_link:hover {
    background: rgb(255, 188, 244);
    color: black;
}

#return_link:hover::after {
    width: 0;
}

#return_link::before {
    content: "";
    position: absolute;
    top: 2.5em;
    left: 50%;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
    background-size: cover;
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

#return_link:hover::before {
    transform: translateX(-50%);
    opacity: 1;
    box-shadow: 0px 0px 10px 1px rgb(255, 188, 244);
}

#return_link:hover::before {
    background-image: url('images/doors.gif');
}

.intro {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.move-container {
    width: 100%;
    height: 25vh;
    background: rgb(255, 180, 40);
}

#cm1 {
    animation: moveRightLines .8s ease forwards 1.4s;
}

#cm2 {
    animation: moveRightLines .8s ease forwards 1.6s;
}

#cm3 {
    animation: moveRightLines .8s ease forwards 1.8s;
}

#cm4 {
    animation: moveRightLines .8s ease forwards 2s;
}