body {
    margin: 0;
    padding: 0;
    background: #fff;
    min-width: 300px;
}

.animated-svg {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100px;
    height: 100px;
}

polygon {
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-width: 2;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: draw 3s forwards ease-in-out 1s;
    animation-iteration-count: infinite;
}

@keyframes draw {
    from {
        stroke-dashoffset: 300;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.swup-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
}

.move-container {
    transform: translateX(100%);
    width: 100%;
    height: 25vh;
    background: rgb(255, 180, 40);
}

.hidden {
    margin: 0;
    padding: 0;
    display: none;
}

h1 {
    margin: 0;
    padding: 0;
}

.intro {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    
    background-image: url(images/header_ink.gif);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.blur_h {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: rgba(4, 4, 230, 0.04);
    z-index: 2;
}

.name {
    position: absolute;
    top: 14%;
    left: 42%;
    transform: translate(-50%, 50%);
}

.description {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

@media (max-width: 400px) {
    .name {
        top: 25%;
    }

    .description {
        bottom: 10%;
    }
}

@media (min-width: 401px) and (max-width: 768px) {
    .description {
        bottom: 7%;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .description {
        bottom: 7%;
    }
}

@media (max-height: 600px) {
    .name {
        left: 47%;
    }

    .description {
        top: 0;
    }
}

.about {
    width: 100%;
    margin: 0 auto;
    background: #030105;
    display: flex;
}

.column_1,
.column_2 {
    width: 90%;
    padding: 3%;
    padding-bottom: 50px;
}

.column_2 ul {
    padding-left: 0;
    list-style: none;
}

@media (max-width: 1200px) {
    .about {
        display: block;
    }

    .column_1 {
        padding-bottom: 0;
    }

    .column_2 {
        padding-top: 0;
    }
}

footer {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.f_upperline,
.f_underline {
    width: 100%;
    height: 4em;
    background: #fff;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.f_underline {
    margin: 0;
    padding: 2em 0;
}

.f_link_container {
    height: 1em;
    background: #fff;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.hello {
    margin: 0;
    padding: 0;
}

.l_content {
    position: relative;
    bottom: 1em;
    right: 1em;
    text-align: right;
    z-index: 2;
}

.l_content a {
    margin: 0;
}