body {
    margin: 0;
    padding: 0;
    background: #fff;
    min-width: 300px;
}

.loading_animation {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100px;
    height: 100px;
}

polygon {
    fill: none;
    stroke: rgb(0, 0, 0);
    stroke-width: 2;
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: draw 3s forwards ease-in-out 1s;
    animation-iteration-count: infinite;
}

@keyframes draw {
    from {
        stroke-dashoffset: 300;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.swup-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
}

.move-container {
    transform: translateX(100%);
    width: 100%;
    height: 25vh;
    background: rgb(255, 180, 40);
}

.hidden {
    margin: 0;
    padding: 0;
    display: none;
}

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    
    background-image: url(images/header_ink.gif);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.header_blue_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgba(4, 4, 230, 0.04);
    z-index: 2;
}

nav {
    position: absolute;
    left: 1em;
    margin: 0;
    padding: 1em 0;
    display: flex;
}

nav>* {
    padding-right: 1em;
    margin: 0;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
}

nav ul>li {
    padding-right: 1em;
    padding-bottom: .5em;
}

nav:hover ul {
    display: flex;
    flex-wrap: wrap;
    animation: fadeIn .3s forwards;
}

h1 {
    margin: 0;
    padding: 0;
}

.header_name {
    position: absolute;
    top: 14%;
    left: 42%;
    transform: translate(-50%, 50%);
}

.header_role {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.header_role,
nav {
    opacity: 0;
}

.header_role,
nav {
    animation: fadeIn 1.5s ease-in-out 1.5s forwards;
}

@media (max-width: 400px) {
    .header_name {
        top: 25%;
    }

    .header_role {
        bottom: 10%;
    }
}

@media (min-width: 400px) and (max-width: 768px) {
    .header_role {
        bottom: 7%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .header_role {
        bottom: 7%;
    }
}

@media (max-height: 600px) {
    .header_name {
        left: 47%;
    }
}

.main_headline h2, .section h2{
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 1em 0 1em 0;
    background: #1d1d1d;
    border-bottom: dashed 1px rgb(96, 96, 96);
}

.main {
    position: relative;
    margin: 0 auto;
    padding: 2em 2em;
    background: #1d1d1d;
    display: flex;
    border-bottom: dashed 1px rgb(96, 96, 96);
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    border-left: dashed 1px rgb(96, 96, 96);
    left: 50%;
}

.m_left_col,
.m_right_col {
    width: 50%;
}

.m_left_col {
    padding-right: 1em;
}

.m_right_col {
    padding-left: 1em;
}

@media (max-width: 1200px) {
    .main {
        display: block;
    }

    .m_left_col {
        padding-bottom: 0;
        width: 100%;
    }

    .m_right_col {
        padding-top: 0;
        padding-left: 0;
        width: 100%;
    }

    .main::before {
        border-left: none;
    }
}

.section {
    position: relative;
    margin: 0 auto;
    padding: 0 2em 3em;
    background: #1d1d1d;
    display: block;
    z-index: 2;
}

.s_container {
    position: relative;
    padding: 1em 1em;
    border-bottom: dashed 1px rgb(96, 96, 96);
}

details[open] summary .s_triangle  {
    animation: change_color_to_orange 1s alternate forwards;
}

@keyframes change_color_to_orange {
    from {
        transform: rotate(0deg);
    }
    to {
            transform: rotate(180deg);
            color: orange;
    }
}

.s_container summary{
    list-style: none;
}

.s_container:hover {
    background: #2b2b2b;
}

.s_triangle{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.s_year_role {
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;
}

.s_left_col {
    position: relative;
    padding: 0 1em;
    margin: 0;
}

.s_right_col {
    padding: 0 1em;
    margin: 0;
}

.s_content {
    padding: 0 1em;
}

footer {
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

.f_upperline,
.f_underline {
    max-width: 100%;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.f_upperline {
    height: 4em;
}

.f_link_container {
    height: 1em;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.f_hello {
    margin: 0;
    padding: 0;
}

.f_underline {
    position: relative;
    margin: 0;
    padding: 2em 0 0;
}

.f_underline::before {
    content: '';
    position: absolute;
    height: 5em;
    bottom: 0;
    width: 1px;
    border-left: solid 1px rgb(0, 0, 0);
    left: 50%;
}

.f_underline_circle {
    position: absolute;
    bottom: 5em;
    left: 50%;
    transform: translateX(-50%);
    width: 40em;
    height: 40em;
    border: dashed 1px black;
    border-radius: 50%;
    pointer-events: none;
    z-index: 2;
}

.f_underline_contacts {
    margin: 2em auto 0;
    padding-bottom: 6em;
}

.contacts_btns a>img {
    width: 3em;
    margin: 0 8em;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.contacts_btns a>img:hover {
    transform: translateY(-0.5em);
    opacity: 0.5;
}

@media(max-width: 550px) {
    .contacts_btns a>img {
        margin: 0 5em;
    }
}

.licence {
    position: relative;
    height: 4em;
    overflow: hidden;
}

.l_content {
    position: relative;
    top: 0;
    right: 1em;
    text-align: right;
    margin: 0;
    padding: 0;
}

.l_content a {
    margin: 0;
}

.l_circle {
    position: absolute;
    top: 0em;
    left: 50%;
    transform: translateX(-50%);
    width: 20em;
    height: 20em;
    /* border: solid 1px black; */
    border-radius: 50%;
    pointer-events: none;
    background-image: url(images/orange_texture.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.l_circle_inner{
    position: absolute;
    top: 2em;
    left: 50%;
    transform: translateX(-50%);
    width: 16em;
    height: 16em;
    border: solid 1px black;
    border-radius: 50%;
    pointer-events: none;
}