@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* font-family: 'Abel', sans-serif; */

/* HTML BODY * */
html {
    scroll-behavior: smooth;
    font-size: 20px;
}

@media (max-width: 400px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 400px) and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    html {
        font-size: 16px;
    }
}

@media (max-height: 400px) {
    html {
        font-size: 10px;
    }
}

@media (min-height: 400px) and (max-height: 600px) {
    html {
        font-size: 14px;
    }
}

* {
    margin: 0;
    padding: 0;
}

*::selection {
    background: rgba(84, 84, 84, 0.5);
    color: white;
}

body {
    background: #fff;
    min-width: 300px;

    font-family: 'Abel', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.75rem;
}

#afterload {
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

.circle.large,
.circle_large_border {
    opacity: 0;
    animation: fadeIn 2.5s ease forwards;
}


/* A  */

.animatedlink {
    position: relative;
    display: inline-block;
    white-space: nowrap;

    color: rgb(255, 188, 244);
    background: none;
    text-decoration: none;
}

.animatedlink::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(255, 213, 98);
    bottom: -3px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 1.6s ease;
}

.animatedlink:hover::before {
    transform-origin: right;
    transform: scaleX(1);
}

.animatedlink::after {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;

    background: rgb(255, 213, 98);
    transition: width 1.6s ease;
}

.animatedlink:hover::after {
    width: 100%;
}

.animatedlink:hover {
    color: rgb(255, 180, 40);
}

.animatedlink:active {
    color: rgb(255, 213, 98);
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer a {
    color: rgb(0, 0, 0);
    box-shadow: none;

    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.8s ease;
}

.l_content a {
    padding: 0 1rem;

    font-size: 1rem;
    color: rgb(153, 153, 153);
    text-decoration: none;
}


/* H1 H2 P*/

h1,
h2 {
    font-weight: normal;
    letter-spacing: .1rem;
    word-spacing: .1rem;
    padding-bottom: 1rem;
}

p {
    padding-bottom: 1rem;
}

/* NAV */

nav {
    position: absolute;
    left: 1rem;
    padding: 1rem;
    display: flex;

    font-size: 2rem;
    text-decoration: 2px white line-through;
    mix-blend-mode: exclusion;
    z-index: 6;
}

nav>* {
    padding-right: 1rem;
}

nav ul {
    list-style: none;
    display: none;
}

nav ul>li {
    padding: 0 1rem .5rem 0;
}

nav:hover ul {
    display: flex;
    flex-wrap: wrap;
    animation: fadeIn .5s forwards;
}

/* HEADER */

nav {
    opacity: 0;
    animation: fadeIn 1s ease-in-out 2s forwards, moveUp 1s ease 2s forwards;
}

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow-X: hidden;
}

.header_description {
    position: absolute;
    left: 2rem;
    bottom: 2rem;
    font-size: 4rem;
    line-height: 1em;
    z-index: 10;

    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: reveal 3000ms ease-in-out forwards 200ms;
}

@media (max-width: 768px) {
    .header_description {
        color: white;
        opacity: 0;
        animation: fadeIn 1s ease-in-out 2s forwards, moveUp 1s ease 2s forwards;
        bottom: 10rem;
    }
}

@media (max-width: 600px) {
    .header_description {
        font-size: 2.5rem;
    }
}

/* OLD VERSION */

/* .header {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    overflow-X: hidden;

    background-image: url(images/header_ink.gif);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.header_name {
    position: absolute;
    top: 14%;
    left: 45%;
    transform: translate(-50%, 50%);

    line-height: 5.5rem;
    text-align: right;
    color: #fcfcff;
    font-size: 2.2rem;
}

.header_role {
    position: absolute;
    right: 5%;
    bottom: 5%;

    font-size: 2rem;
    mix-blend-mode: exclusion;
}

.header_blue_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgba(4, 4, 230, 0.04);
    z-index: 2;
}

@media (max-width: 400px) {
    .header_name {
        top: 25%;
    }

    .header_role {
        bottom: 10%;
    }
}

@media (min-width: 400px) and (max-width: 1200px) {
    .header_role {
        bottom: 7%;
    }
} */


/* CIRCLES */

.header_image {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle img {
    user-select: none;
    pointer-events: none;
}

.circle.backgr,
.circle.large,
.circle.small {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.circle.backgr,
.circle.small {
    background-image: url(images/header_image.jpg);
    background-size: cover;
    background-position: top right;
}

.circle.small {
    clip-path: circle(12vw at 50% 50%);
    opacity: 1;
    z-index: 5;
}

.circle.large {
    clip-path: circle(20vw at 50% 50%);
    z-index: 3;
    position: relative;

    background-image: url(images/header_img_cut.jpg);
    background-size: cover;
    background-position: top right;
}

.circle.large::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 4;

    margin: 0;
    padding: 0;
    overflow: hidden;

    filter: none;
    transition: filter 1s ease;
}

.circle.large:hover::before {
    filter: drop-shadow(0 0 20px rgba(81, 104, 127, 0.6));
}

.circle_large_border {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 40vw;
    border: 4px solid rgba(0, 0, 0, .05);
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(0, 0, 0, .4);
    z-index: 5;
    box-sizing: border-box;
    pointer-events: none;
}

@media (max-width:1000px) and (orientation: landscape) {
    .circle.large {
        clip-path: circle(20vw at 50% 50%);
    }

    .circle.small {
        clip-path: circle(12w at 50% 50%);
    }

    .circle_large_border {
        width: 40vw;
        height: 40vw;
    }
}

@media (max-width: 1000px) and (orientation: portrait) {
    .circle.large {
        clip-path: circle(40vw at 50% 50%);
    }

    .circle.small {
        clip-path: circle(24vw at 50% 50%);
    }

    .circle_large_border {
        width: 80vw;
        height: 80vw;
    }
}

@media (min-width:1000px) and (max-width: 1300px) {
    .circle.large {
        clip-path: circle(25vw at 50% 50%);
    }

    .circle.small {
        clip-path: circle(15vw at 50% 50%);
    }

    .circle_large_border {
        width: 50vw;
        height: 50vw;
    }
}



/* MAIN */

.main_headline,
.section_headline {
    height: 6rem;
    background: #1d1d1d;
    border-bottom: dashed 1px rgb(96, 96, 96);
}

.main_headline h2,
.section_headline h2 {
    padding: 2rem 0;
    font-size: 2rem;
    text-align: center;
}

.main p,
.section p {
    font-size: 1.2rem;
}

.main {
    position: relative;
    margin: 0 auto;
    padding: 2rem 2rem;
    background: #1d1d1d;
    display: flex;
    border-bottom: dashed 1px rgb(96, 96, 96);
    font-size: 1rem;
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    border-left: dashed 1px rgb(96, 96, 96);
    left: 50%;
}

.m_circle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 3;
}

.m_circle.m_c_large {
    top: 32vw;
    width: 60vw;
    height: 60vw;
    background-color: rgba(255, 255, 255, 0.03);
}

.m_circle.m_c_small {
    top: 72vh;
    width: 30vw;
    height: 30vw;
    border: 2px dashed rgba(255, 255, 255, 0.226);
}

.m_left_col,
.m_right_col {
    width: 50%;
}

.m_left_col {
    padding-right: 1rem;
}

.m_right_col {
    padding-left: 1rem;
}

@media (max-width: 1200px) {
    .main {
        display: block;
    }

    .m_left_col {
        padding-bottom: 0;
        width: 100%;
    }

    .m_right_col {
        padding-top: 0;
        padding-left: 0;
        width: 100%;
    }

    .main::before {
        border-left: none;
    }
}


/* SECTION */

.section {
    position: relative;
    margin: 0 auto;
    padding: 0 2rem 3rem;
    background: #1d1d1d;
    display: block;
    z-index: 2;
}

.s_container {
    position: relative;
    padding: 1rem 1rem;
    border-bottom: dashed 1px rgb(96, 96, 96);
}

details[open] summary .s_triangle {
    animation: change_color_to_orange 1s alternate forwards;
}

@keyframes change_color_to_orange {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
        color: orange;
    }
}

.s_container summary {
    list-style: none;
    list-style-type: none;
    list-style: none outside none;
    outline: none;
}

.s_container summary:focus{
    outline: none;
}

.s_container summary::-webkit-details-marker {
    display: none;
}

.s_container:hover {
    background: #2b2b2b;
}

.s_triangle {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.s_year_role {
    display: flex;
    justify-content: space-between;
    text-wrap: nowrap;
}

.s_left_col,
.s_right_col {
    position: relative;
    padding: 0 1rem;
}

.s_left_col {
    text-align: left;
}

.s_right_col {
    text-align: right;
}


.s_content {
    padding: .5rem 1rem;
}


/* FOOTER */

footer {
    position: relative;
    text-align: center;
    width: 100%;
    overflow-x: hidden;
}

.f_upperline,
.f_underline {
    max-width: 100%;
    z-index: 1;
}

.f_upperline {
    height: 4rem;
}

.f_link_container {
    height: 6rem;
    overflow: hidden;
    line-height: 6rem;
    font-size: 6rem;
}

.f_link_container a:hover {
    transform: translateY(-7rem);
    background: transparent;
}

#f_hello_down {
    color: rgb(255, 175, 27);
}

#f_email {
    font-size: 2rem;
}

.f_underline {
    position: relative;
    padding: 2rem 0 0;
}

.f_underline::before {
    content: '';
    position: absolute;
    height: 3rem;
    bottom: 0;
    width: 1px;
    border-left: solid 1px rgb(0, 0, 0);
    left: 50%;
}

.f_underline_circle {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 40rem;
    height: 40rem;
    border: dashed 1px black;
    border-radius: 50%;
    pointer-events: none;
}

.f_underline_contacts {
    margin: 2rem auto 0;
    padding-bottom: 6rem;
}

.contacts_btns a>img {
    width: 3rem;
    margin: 0 8rem;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.contacts_btns a>img:hover {
    transform: translateY(-0.5rem);
    opacity: 0.5;
    border-radius: 50%;
    filter: blur(1px);
}

@media(max-width: 450px) {
    .contacts_btns a>img {
        margin: 0 5rem;
    }
}

@media(min-width: 450px) and (max-width: 550px) {
    .contacts_btns a>img {
        margin: 0 6rem;
    }
}

.licence {
    position: relative;
    height: 8rem;
    overflow: hidden;
}

.l_content {
    position: relative;
    top: 4rem;
    right: 1rem;
    text-align: right;
}

@media(max-width: 450px) {
    .l_content a {
        font-size: .8em;
    }
}

@media(max-width: 600px) {
    .l_content {
        top: 0rem;
    }
}

.l_circle {
    position: absolute;
    top: 0rem;
    left: 50%;
    transform: translateX(-50%);
    width: 30rem;
    height: 30rem;
    border: solid 1px rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    pointer-events: none;
    background-image: url(images/orange_texture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.l_circle::before {
    content: '';
    position: absolute;
    height: 30rem;
    bottom: 0;
    width: 1px;
    border-left: solid 1px rgb(0, 0, 0);
    left: 50%;
}

.l_circle_inner {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 26rem;
    height: 26rem;
    border: solid 1px rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    pointer-events: none;
}