body {
    margin: 0;
    padding: 0;
    background: #131313;
    min-width: 300px;
}

.header {
    position: relative;
    width: 100%; 
    height: 100vh;
    margin: 0 auto;
    border-bottom: 4px solid rgb(45, 12, 42);

    background-image: url(images/bloom.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* исправить положение цветка */

@media (max-width: 768px) {
    .header {
        height: 100vh;
        background-position: 50% 50%;
        background-size: cover;
    }
}

@media (min-width: 769px) {
    .header {
        background-position: 50% 50%;
    }
}

@media(max-height: 500px){
    .header{
        height: 100vh;
    }
}

.name {
    position: absolute;
    top: 0%;
    right: 5em;
}

.name a{
    margin: 0;
    padding: 0;
}

@media (max-width: 500px) {
    .name {
        right: 2.5em;
    }
}

.footer {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 0;
    padding: 3% 0;
}

.links ul {
    text-align: center;
    width: 100%;
    list-style: none;
    box-sizing: border-box;
}

.links ul li {
    padding-right: 1.5em;
    display: inline-block;
    margin-bottom:1.5em
}

@media (max-width: 650px) {
    /* .links ul{
        text-align: left;
    } */

    .links ul li {
        display: block;
    }
}

.returnbtn {
    position: relative;
    margin: 0 auto;
    text-align: center;
    display: block;
}

.return {
    margin-top: 5em;;
    padding-bottom: 2.5em;
}

.image img {
    width: 12em;
    transform: translate(-3%, 0);
    transform: rotate(350deg);
    margin-bottom: 50px;
}