@font-face {
    font-family: 'NewYork';
    src: url(fonts/new_york.otf);
}

:root {
    --viewIndex: calc(1vw + 1vh);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'NewYork', 'Courier New', Courier, monospace;
}

.container {
    position: relative;
    width: 80vh;
    height: 80vh;
    margin: 3rem auto;
    overflow: hidden;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .container{
        width: 90vw;
        height: 90vw;
    }
}

/* содержимое слайдов по размеру контейнера */
.slide,
.slide_circle,
.slide_circle img,
.slide_circle_darktransp {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* текст в центр */
.slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* текст над изображениями */
.slide_content {

    color: white;
    mix-blend-mode: lighten;
    text-shadow: 0 0 1rem rgba(255, 255, 255, .7);
    font-size: calc(var(--viewIndex));
    letter-spacing: calc(var(--viewIndex));
    z-index: 10;
    visibility: hidden;
}

/* все слои слайда */
.slide_circle {
    pointer-events: none;
    user-select: none;
    overflow-x: hidden;
    overflow-y: visible;
    opacity: 1;
}

/* 1 слой */
.slide_circle.backg {
    clip-path: circle(50% at 50% 50%);
}

/* 2 слой и 4 слой*/
.slide_circle.large,
.slide_circle_darktransp {
    clip-path: circle(35% at 50% 50%);
}

/* 3 слой */
.slide_circle.small {
    clip-path: circle(15% at 50% 50%);
}

/* 4 слой */
.slide_circle_darktransp {
    background: rgba(0, 0, 0, .2);
}

/* изображения слоев */
.slide_circle img {
    object-fit: cover;
    opacity: 1;
}

/* анимация при наложении класса исчезновения на слайд */
.slide.hide {
    .slide_circle.backg{
        animation: rotateFadeOut 5s ease-in-out 0s forwards;
    }

    .slide_circle.large{
        animation: rotateFadeOut 5.5s ease-in-out 0s forwards;
    }

    .slide_circle_darktransp{
        animation: rotateFadeOut 5.5s ease-in-out 0s forwards;
    }

    .slide_circle.small{
        animation: rotateFadeOut 6s ease-in-out 0s forwards;
    }

    .slide_content{
        animation: fadeOut 1s linear 0s forwards;
    }
}

.slide.show{
    .slide_circle.backg{
        animation: rotateFadeIn 6s ease-in-out 0s forwards;
    }

    .slide_circle.large{
        animation: rotateFadeIn 5.5s ease-in-out 0s forwards;
    }

    .slide_circle_darktransp{
        animation: rotateFadeIn 5.5s ease-in-out 0s forwards;
    }

    .slide_circle.small{
        animation: rotateFadeIn 5s ease-in-out 0s forwards;
    }

    .slide_content{
        animation: fadeIn 1s linear 0s forwards;
    }
}


@keyframes rotateFadeOut {
    from {
        opacity: 1;
        transform: rotate(0deg);
    }
    
    to {
        opacity: 0;
        transform: rotate(360deg);
    }
}

@keyframes rotateFadeIn {
    from {
        opacity: 0;
        transform: rotate(0deg);
    }
    
    to {
        opacity: 1;
        transform: rotate(360deg);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}
