@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$orange: #ffbc00;
$linkColor: rgb(85, 85, 85);
$linkHoveredColor: rgb(0, 0, 0);
$bgColor: #fff;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: 'Jost', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Poiret One', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Oswald', sans-serif;
}

h2,
h3 {
    text-transform: uppercase;
    font-weight: 450;
}

%absolute-central {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%flexrow {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

%underline {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: $linkColor;
    transition: width 0.6s ease, background-color 0.6s ease;
}

%button {
    text-align: center;
    text-transform: uppercase;
    height: fit-content;
    padding: 0.5rem 1rem;
    background-color: #ffbc00;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #ffe395;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
}

.loader {
    @extend %absolute-central;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 100;
    overflow: hidden;
    transition: opacity 0.6s ease;

    svg {
        @extend %absolute-central;
        width: 42vw;
        height: 42vw;
        stroke: rgb(53, 53, 53);
        stroke-width: 5px;
        stroke-dasharray: 125.663vw;
        stroke-dashoffset: 125.663vw;
        animation: drawCircle 2s ease-in-out forwards infinite;
    }
}

.body-wrapper {
    opacity: 0;
    transition: opacity 0.6s ease;
}

.nav {
    position: absolute;
    top: 1vw;
    left: 2vw;
    right: 2vw;
    padding: 0.35rem;
    background-color: $orange;
    border-radius: 4px;
    z-index: 2;
    ul {
        @extend %flexrow;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        font-size: 1.1rem;
        gap: 0.4rem;

        .link_without_underline {
            &::after,
            &::before {
                height: 0;
            }
        }

        a {
            font-size: 0.9rem;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            color: $linkColor;
            transition: color 0.6s ease;
            &:hover {
                color: $linkHoveredColor;
            }
            &::after {
                @extend %underline;
                transform-origin: left;
                left: 0;
            }
            &::before {
                @extend %underline;
                transform-origin: right;
                right: 0;
            }
            &:hover {
                &::after,
                &::before {
                    width: 50%;
                    background-color: $linkHoveredColor;
                }
                .nav-ico {
                    filter: invert(0%);
                }
            }
        }
    }
    &-ico {
        height: 0.9rem;
        margin-right: 0.5rem;
        align-self: center;
        transition: filter 0.6s ease;
        filter: invert(50%);
    }
}

.header {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    background-color: #000;
    border-bottom: 10px solid #000;

    &-inner {
        @extend %absolute-central;
        width: 100%;
        height: 100%;
        background-image: url(../images/content/header.jpg);
        background-position: center;
        background-size: cover;

        &.square {
            filter: blur(1px);
        }

        &.circle-blured {
            filter: blur(7px) invert(10%);
            clip-path: circle(18vw at 50% 50%);
        }

        &.circle-small {
            clip-path: circle(10vw at 50% 50%);
        }
    }

    &-gradient {
        @extend %absolute-central;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top, black 15%, transparent 50%);
    }

    &-content {
        max-width: 90vw;
        position: absolute;
        color: $orange;
        bottom: 2rem;
        left: 1rem;
        font-size: calc((1vw + 1vh) * 1);
        font-weight: 500;
        font-family: 'Poiret One', sans-serif;
        text-transform: uppercase;
    }
}

.container {
    padding: 4vw;
}

.main {
    position: relative;
    background-color: $bgColor;
    width: 100vw;
    z-index: 2;
    &-inner {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        width: 100%;
    }
    &-row {
        @extend %flexrow;
        gap: 5rem;
    }
    &-title {
        width: 15vw;
        flex-shrink: 0;
        flex-grow: 1;
        text-wrap: nowrap;
        white-space: nowrap;
    }
    &-content {
        margin-right: 1rem;
        flex-grow: 4;
        line-height: 1.8rem;
    }
}

.section {
    background-color: $bgColor;
    &-gallery {
        height: 25rem;
        transition: background-image 0.3s ease;
        background-image: url(../images/products/pr-0.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
    }
    &-partners {
        position: relative;
        background-color: #000000;
        z-index: 3;
    }
    &-product {
        position: relative;
        padding-top: 1rem;
        padding-bottom: 0;
    }
    &-product-info {
        width: 300vw;
        display: flex;
        flex-direction: row;
        gap: 8vw;
        padding-top: 0;
        overflow: hidden;
        transition: transform 1s ease;
    }
    &-price {
        color: white;
        background-color: #000000;
        width: 100vw;
    }
    &-bgimage {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-image: url(../images/content/section.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        filter: blur(2px);
    }
    &-contacts {
        display: flex;
        flex-direction: column;
        margin-top: 15rem;
        width: 100vw;
        background-color: #ffbb00;
    }
}

.partners {
    &-inner {
        padding: 0 1rem 2vw;
        display: flex;
        justify-content: space-between;
        img {
            height: 5vw;
            filter: blur(0.7px);
        }
    }
}

.gallery {
    &-inner {
        position: relative;
        transform: translate(0);
        height: 100%;
        background-color: #ffbb00;
        clip-path: polygon(0% 0%, calc(100vw - 630px) 0%, calc(100vw - 500px) 66%, calc(100vw - 600px) 100%, 0% 100%);
        h3 {
            margin-bottom: 1rem;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        p {
            line-height: 1.2em;
            padding-right: 2rem;
            height: 14.4em;
            overflow-y: auto;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            transition: all 0.3s ease;

            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-moz-scrollbar {
                width: 5px;
            }
            &::-ms-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #2b2b2b;
            }
            &::-moz-scrollbar-thumb {
                background-color: #2b2b2b;
            }
            &::-ms-scrollbar-thumb {
                background-color: #2b2b2b;
            }

            &::-webkit-scrollbar-track {
                background-color: transparent;
            }
            &::-moz-scrollbar-track {
                background-color: transparent;
            }
            &::-ms-scrollbar-track {
                background-color: transparent;
            }
        }
    }
    &-content-wrapper {
        width: calc(100vw - 700px);
    }
    &-btns {
        position: absolute;
        left: 4vw;
        bottom: 1rem;

        img {
            width: 2rem;
            margin-right: 1rem;
            &:hover {
                filter: invert(30%);
            }
        }
        .gb-left {
            transform: rotate(180deg);
        }
    }
}

.product {
    &-inner {
        @extend %flexrow;
    }
    &-item {
        flex-basis: 33.33%;
        display: grid;
        justify-items: center;
        align-items: end;
        text-align: center;

        gap: 1.5rem;
        min-width: 190px;
        padding: 1.5rem;
        transition: background-color 0.6s ease;
        background-color: #f5f5f5;

        img {
            width: 10vw;
            filter: invert(30%);
            transition: filter 0.6s ease;
            align-self: flex-start;
        }

        button {
            @extend %button;
            width: 140px;
            font-family: inherit;
            font-size: 0.75rem;
        }

        &:hover {
            background-color: black;
            color: white;
            img {
                filter: invert(100%);
            }
        }
    }
    &-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        gap: 1rem;
    }

    &-control-buttons {
        display: none;
    }
}

.product-info {
    &-inner {
        width: 92vw;
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-title {
        margin: 2rem 0;
    }
    &-row {
        @extend %flexrow;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
        padding: 0.5rem 0;
    }
    &-key {
        flex-basis: 20vw;
    }
    &-value {
        flex-basis: 15vw;
    }
}

.price {
    &-inner {
        @extend %flexrow;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        button {
            @extend %button;
            width: 180px;
            font-family: inherit;
            font-size: 1rem;
            text-wrap: nowrap;
            white-space: nowrap;
        }

        &:hover {
            background-color: black;
            color: white;
            img {
                filter: invert(100%);
            }
        }
    }
}

.contacts {
    &-title {
        margin-bottom: 2rem;
        font-size: 2rem;
    }
    &-inner {
        @extend %flexrow;
        justify-content: space-between;
        align-content: center;
        gap: 4rem;

        div {
            max-width: 500px;
            display: flex;
            gap: 1rem;
            overflow: visible;
        }

        a {
            overflow: visible;
            line-height: 1.5rem;
            color: $linkHoveredColor;
            text-decoration: none;
            font-size: 0.9rem;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            color: $linkHoveredColor;
            transition: color 0.6s ease;
            &:hover {
                color: #0da572;
            }
        }
        img {
            width: 1.45rem;
            height: 1.45rem;
        }
    }
    &-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &-requisites {
        display: flex;
        flex-direction: column;
        align-items: end;
        text-align: end;
        p {
            max-width: 400px;
        }
    }
}

.footer {
    width: 100%;
    padding: 0.2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #000000;
    gap: 0.2rem 2rem;
    p,
    a {
        font-size: 0.6rem;
        color: gray;
        text-decoration: none;
        text-transform: uppercase;
    }
}

@keyframes scaleIn {
    from {
        transform: translate(-50%, -50%) scale(1.2);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes drawCircle {
    0% {
        stroke-dashoffset: 125.663vw;
    }

    100% {
        stroke-dashoffset: -125.663vw;
    }
}

@keyframes drawCirclePhone {
    0% {
        stroke-dashoffset: 188.495vw;
    }

    100% {
        stroke-dashoffset: -188.495vw;
    }
}

@media screen and (max-width: 950px) {
    .nav {
        ul {
            flex-wrap: wrap;
            li {
                text-align: center;
            }
        }
        &-wrap {
            flex-basis: 30%;
        }
    }
    .loader {
        svg {
            width: 65vw;
            height: 65vw;
            stroke-dasharray: 188.495vw;
            stroke-dashoffset: 188.495vw;
            animation: drawCirclePhone 2s ease-in-out forwards infinite;
        }
        .svg-loader {
            r: 30vw;
        }
    }

    .header {
        height: 100vh;
        &-content {
            max-width: 500px;
            h1 {
                text-align: justify;
                display: inline;
            }
        }
        &-inner {
            &.circle-blured {
                clip-path: circle(30vw at 50% 50%);
            }
            &.circle-small {
                clip-path: circle(16.6vw at 50% 50%);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        &-inner {
            gap: 1rem;
        }
        &-row {
            gap: 1rem;
            flex-direction: column;
        }
        &-title {
            width: 100%;
        }
        &-content {
            text-align: justify;
            flex-basis: unset;
        }
    }
}

@media screen and (min-width: 830px) and (max-width: 1200px) {
    .gallery {
        &-inner {
            clip-path: polygon(
                0% 0%,
                calc(100vw - 530px) 0%,
                calc(100vw - 400px) 66%,
                calc(100vw - 500px) 100%,
                0% 100%
            );
        }
        &-content-wrapper {
            width: calc(100vw - 500px);
        }
    }
}

@media screen and (min-width: 630px) and (max-width: 830px) {
    .gallery {
        &-inner {
            clip-path: polygon(
                0% 0%,
                calc(100vw - 430px) 0%,
                calc(100vw - 300px) 66%,
                calc(100vw - 400px) 100%,
                0% 100%
            );
        }
        &-content-wrapper {
            width: calc(100vw - 400px);
        }
    }
}

@media screen and (max-width: 630px) {
    .section {
        &-gallery {
            height: 20rem;
        }
    }
    .gallery {
        &-inner {
            clip-path: none;
            p {
                height: 10.8rem;
            }
        }
        &-content-wrapper {
            width: 100%;
        }
        &-btns {
            img {
                width: 1.5rem;
            }
        }
    }
}

@media screen and (min-width: 850px) and (max-width: 1366px) {
    .price {
        &-inner {
            h2 {
                max-width: 530px;
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .price {
        &-inner {
            text-align: center;
            flex-direction: column;
            gap: 1rem;
            h2 {
                max-width: 530px;
            }
        }
    }
    .product {
        &-info-key {
            flex-basis: 60vw;
        }
        &-info-value {
            flex-basis: 25vw;

            padding-right: 1rem;
        }

        &-info-row {
            svg {
                display: none;
            }
        }
    }
    .contacts {
        &-inner {
            flex-wrap: wrap;
        }
        &-requisites {
            align-items: start;
            text-align: start;
        }
    }
}

@media screen and (max-width: 660px) {
    .section {
        &-product {
            padding: 0;
        }
    }
    .product {
        &-inner {
            width: 300vw;
            transition: transform 1s ease;
        }
        &-item {
            width: 100%;

            &:hover {
                background-color: #fff;
                color: black;
                img {
                    filter: invert(30%);
                }
            }
        }

        &-btn-slider {
            display: none;
        }
        &-control-buttons {
            position: absolute;
            display: flex;
            padding: 0 1rem;
            flex-direction: row;
            top: 1rem;
            gap: 1rem;

            .pb-left {
                transform: rotate(180deg);
            }
        }

        &-ctrl-btn {
            width: 1.5rem;
            &:hover {
                filter: invert(30%);
            }
        }
    }
}
