@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
    /*   size */
    --screenCoeff: calc(1vw + 1vh);
    --customWhite: whitesmoke;
    /*   link color */
    --customViolet: rgb(255, 188, 244);
    /*   hovered link color */
    --customOrange: rgb(255, 180, 40);
    /*   active link color */
    --customOrangeLight: rgb(255, 228, 152);
    /*   selection color */
    --customGray: rgba(85, 85, 85, 0.5);
    /*   body background color */
    --customBlack: rgb(15, 15, 15);
    /* animation function */
    --customFunction: ease-in-out;
    /*   animation speed */
    --customSpeed: 0.8s;

    --loaderFontColor: #cbe8cf;
    --introAndOutroStripesColor: rgb(29, 34, 33);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background: var(--customGray);
    color: white;
}

body {
    font-family: 'Abel', Arial, sans-serif;
    background: var(--customBlack) url(../images/content_images/paper_2.png);
    background-size: cover;
    overflow-x: hidden;
}

h1,
h2 {
    font-size: inherit;
    font-weight: inherit;
}

#hidden_untill_loaded {
    display: none;
}

#showed_untill_load {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--introAndOutroStripesColor);
}

#back_link {
    position: absolute;
    top: calc(var(--screenCoeff));
    right: calc(var(--screenCoeff));
    content: ' ';
    width: calc(var(--screenCoeff) * 4);
    height: calc(var(--screenCoeff) * 4);
    background-image: url(../images/buttons_images/back_ico.png);
    background-size: cover;
    transition: transform 0.8s ease;
    transform: rotate(0deg) scale(0.9);
    z-index: 100;
}

#back_link:hover {
    transform: rotate(5deg) scale(0.99);
}

main {
    transform: rotate(2deg);
    overflow-x: hidden;
}

.flex-container:nth-child(1) {
    margin: 8em auto 0;
}

@media screen and (max-width: 768px) {
    .flex-container:nth-child(1) {
        margin: 4em auto 0;
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 90vw;

    color: var(--customWhite);
    margin: 1.5em auto 0;
}

.category {
    flex-basis: 20%;
    flex-shrink: 0;
    flex-grow: 0;
    text-wrap: nowrap;
    white-space: nowrap;
    font-size: calc(var(--screenCoeff) * 2);
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-wrap: nowrap;
    white-space: nowrap;
    justify-content: space-around;
    margin: 1em;
    color: var(--customViolet);
    font-size: calc(var(--screenCoeff) * 1.4);
}

.links a {
    position: relative;
    margin: 0.5em 1.5em;
    color: var(--fontColor);
    text-decoration: none;
    transition: color var(--customSpeed) var(--customFunction);
}

.links a::before,
.links a::after {
    content: '';
    background-color: var(--customViolet);

    width: 100%;
    height: calc(var(--screenCoeff) / 10);

    position: absolute;
    left: 0;
    bottom: 0;

    transform: scaleX(0);
    transition: transform var(--customSpeed) var(--customFunction),
        background-color var(--customSpeed) var(--customFunction);
}

.links a::before {
    transform-origin: right;
}

.links a::after {
    transform-origin: left;
}

.links a:hover {
    cursor: pointer;
    color: var(--customOrange);
}

.links a:hover::before {
    background-color: var(--customOrange);
    transform: scaleX(0.5);
}

.links a:hover::after {
    background-color: var(--customOrange);
    transform: scaleX(0.5);
}

.links a:active {
    color: var(--customOrangeLight);
}

.links a:active::before,
.links a:active::after {
    background-color: var(--customOrangeLight);
}

.intro_container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    z-index: 200;
}

.intro_strip {
    position: relative;
    height: 25vh;
    width: 100vw;
    display: block;
    transform: translateY(0%);
    background-color: var(--introAndOutroStripesColor);
}

.describer {
    position: absolute;
    top: 1vh;
    left: 5vw;
    color: var(--loaderFontColor);
    font-size: calc(var(--screenCoeff) * 4);
    animation: describerFadeIn 0.2s ease;
}

@keyframes describerFadeIn {
    from {
        transform: translateY(15%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes introMove {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}

.outro_container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    z-index: 201;
}

.outro_strip {
    width: 100%;
    height: 25vh;
    display: block;
    transform: translateX(100%);
    background-color: var(--introAndOutroStripesColor);
}

@keyframes outroMove {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
