@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&family=Permanent+Marker&display=swap');
/* 'Abel' preload for certificates page */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@font-face {
    font-family: 'Vintage_font';
    src: url(../fonts/Vintage_font.otf) format('opentype');
}

:root {
    --loaderBGColor: rgb(37, 52, 48);
    --loaderFontColor: #cbe8cf;
    --introAndOutroStripesColor: rgb(29, 34, 33);

    --slidersFaceSwitch: 180deg;
    --slidersBackSwitch: 0deg;
    --slidersFaceColor: rgb(37, 52, 48);
    --slidersBackColor: rgb(214, 232, 227);
    --slidersBorderColor: rgba(127, 127, 127, 0.2);

    --perspectiveValue: perspective(10000px);

    --scrollbarBorderColor: rgb(27, 27, 27);
    --scrollbarTrackColor: rgb(37, 52, 48);

    --vignetteFirstColor: rgba(0, 0, 0, 0.4);
    --vignetteSecondColor: rgba(0, 0, 0, 0.7);

    --selectionColor: rgba(63, 102, 107, 0.8);

    --weekBackgroundColor: #d6e8e3;
    --weekFontColor: rgb(10, 100, 100);

    --mainBGColor: #c9d0db;
    --mainFontColor: rgb(15, 15, 15);
    --mainMixBlendedFontColor: rgb(255, 255, 255);

    --sayHelloBottomFontColor: rgb(28 109 105);

    --describerFontColor: #16be78;

    --certificatesLinkPseudoColor: #ffe619;
    --certificatesLinkBGColor: #494d80;
    --certificatesLinkHoverBGColor: #ffb5f3;
    --certificatesLinkFontColor: #ffe300;
    --certificatesLinkHoverFontColor: #242424;

    --textCuttedFontColor: #ffb756;

    --glowingTextFontColor: rgb(190 255 252);
    --glowingTextGlowColor: 0 0 0.5em rgb(0, 255, 242);

    --redTapesFontColor: rgb(65, 255, 151);
    --greenTapesFontColor: rgb(255, 230, 0);
    --tapesFontColor: rgb(22, 22, 22);

    --projectWindowOuterPanelColor: rgb(89 133 120);

    --projectWindowInnerPanelColor: #1d1d1d;
    --projectDescriberBGColor: #242424;
    --projectDescriberFontColor: whitesmoke;
    --projectDescriberLinkFontColor: #fac21e;
    --projectDescriberScrollbarThumb: #444444;
    --projectScrollbarTrackColor: #242424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: var(--selectionColor);
}

body {
    font-family: 'Martian Mono', monospace;
    font-weight: 600;
    background-color: var(--mainBGColor);
    overflow-x: hidden;
}

#hidden_untill_loaded {
    display: none;
}

/* LOADER */
/* **************************************************************************** */

#showed_untill_load {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--loaderBGColor);
}

.loader {
    position: relative;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    border-radius: inherit;
}

.loader::before {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #ff9900 0%, #00e4c5 60%);
    animation: loaderSpinning 1s infinite linear;
}

.loader::after {
    width: 95%;
    height: 95%;
    background-color: var(--loaderBGColor);
    top: 50%;
    left: 50%;
    transform: translate(-51%, -53%);
}

@keyframes loaderSpinning {
    to {
        transform: rotate(360deg);
    }
}

/* INTRO OUTRO */
/* **************************************************************************** */

.intro_container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    pointer-events: none;
    z-index: 200;
}

.intro_strip {
    height: 100%;
    width: calc(var(--part_dbl) - 2px);
    display: block;
    transform: translateY(0%);
    background-color: var(--introAndOutroStripesColor);
}

@keyframes introMove {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}

.outro_container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    z-index: 201;
}

.outro_strip {
    width: 100%;
    height: 25vh;
    display: block;
    transform: translateX(-100%);
    background-color: var(--introAndOutroStripesColor);
}

@keyframes outroMove {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

/* SLIDER */
/* **************************************************************************** */

.vignette {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: radial-gradient(
        circle at center,
        transparent 30%,
        var(--vignetteFirstColor) 75%,
        var(--vignetteSecondColor) 100%
    );
    z-index: 100;
    pointer-events: none;
}

.slides_container {
    max-width: 100%;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;

    overflow: hidden;

    transform-style: preserve-3d;

    z-index: 1;

    transition: background-color 2s ease-in 0.5s;
}

.strip {
    position: relative;
    width: var(--part);
    height: 100%;
    font-size: calc(var(--part) * 0.9);
}

.face,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 1em;
    backface-visibility: hidden;
    text-align: center;
    z-index: 2;
    border-right: 1px solid var(--slidersBorderColor);
    border-left: 1px solid var(--slidersBorderColor);
}

.face {
    background-color: var(--slidersFaceColor);
    color: white;
    transform: rotate3d(0, 1, 0, 180deg);
}

.back {
    background-color: var(--slidersBackColor);
}

.describer {
    position: absolute;
    bottom: 3vh;
    right: 2em;
    z-index: 101;
    text-align: right;
    mix-blend-mode: difference;
    font-size: calc(var(--part) * 0.2);
}

.describer p,
.describer a {
    position: relative;
    text-decoration: none;
    margin-top: 0.5em;
    color: var(--describerFontColor);
}

.pointing_arrow {
    position: absolute;
    top: calc(var(--part) * -0.18);
    left: calc(var(--part) * -0.2);
    font-size: calc(var(--part) * 0.4);
    animation: pointingArrowMove 3s ease-in-out alternate infinite;
}

@keyframes pointingArrowMove {
    from {
        left: calc(var(--part) * -0.4);
    }

    to {
        left: calc(var(--part) * -0.2);
    }
}

#pause {
    position: absolute;
    bottom: 3vh;
    left: calc(var(--part) * 0.1);
    width: calc(var(--part) * 0.8);
    z-index: 3;
    filter: invert(50%) blur(3px);
    transition: filter 0.8s, transform 0.8s;
}

#pause:hover {
    filter: invert(50%);
    transform: scale(0.9);
}

@keyframes face-slide {
    0% {
        transform: var(--perspectiveValue) rotate3d(0, 1, 0, calc(var(--slidersFaceSwitch)));
    }

    50% {
        transform: var(--perspectiveValue) rotate3d(0, 1, 0, calc(var(--slidersFaceSwitch) - 210deg));
    }

    70% {
        transform: var(--perspectiveValue) rotate3d(0, 1, 0, calc(var(--slidersFaceSwitch) - 160deg));
    }

    85% {
        transform: var(--perspectiveValue) rotate3d(0, 1, 0, calc(var(--slidersFaceSwitch) - 195deg));
    }

    95% {
        transform: var(--perspectiveValue) rotate3d(0, 1, 0, calc(var(--slidersFaceSwitch) - 168deg));
    }

    100% {
        transform: var(--perspectiveValue) rotate3d(0, 1, 0, calc(var(--slidersFaceSwitch) - 180deg));
    }
}

@keyframes back-slide {
    0% {
        transform: var(--perspectiveValue) rotate3d(0, 1, 0, calc(var(--slidersBackSwitch)));
    }

    50% {
        transform: var(--perspectiveValue) rotate3d(0, 1, 0, calc(var(--slidersBackSwitch) - 210deg));
    }

    70% {
        transform: var(--perspectiveValue) rotate3d(0, 1, 0, calc(var(--slidersBackSwitch) - 160deg));
    }

    85% {
        transform: var(--perspectiveValue) rotate3d(0, 1, 0, calc(var(--slidersBackSwitch) - 195deg));
    }

    95% {
        transform: var(--perspectiveValue) rotate3d(0, 1, 0, calc(var(--slidersBackSwitch) - 168deg));
    }

    100% {
        transform: var(--perspectiveValue) rotate3d(0, 1, 0, calc(var(--slidersBackSwitch) - 180deg));
    }
}

/* WEEK */
/* **************************************************************************** */

.week {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    text-align: center;
    background-color: var(--weekBackgroundColor);
    border-top: calc(var(--part) * 0.1) double var(--weekFontColor);
    border-bottom: calc(var(--part) * 0.1) double var(--weekFontColor);
}

.week div:not(:last-child) {
    border-right: calc(var(--part) * 0.1) double var(--weekFontColor);
}

.week div {
    width: 14.27%;
    font-size: calc(var(--part) * 0.5);
    color: var(--weekFontColor);
    text-decoration: line-through;
}

/* MAIN */
/* **************************************************************************** */

main {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(8, var(--part_dbl));
    grid-template-rows: repeat(12, var(--part_dbl));

    padding-top: 10vh;

    justify-content: start;
    align-content: start;

    background-color: var(--mainBGColor);
    background-image: url(../images/content_images/paper_1.png);
    background-size: cover;
    overflow: hidden;
}

.main_item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: var(--part_dbl);
    overflow: visible;
    color: var(--mainFontColor);
    opacity: 0.85;
}

/* IMAGES */
/* **************************************************************************** */

#horse {
    grid-area: 1 / 2 / 3 / 5;
    width: calc(var(--part) * 6.2);
    transform: translate(1%, 16%);
}

#barometr {
    grid-area: 4 / 5 / 11/ 9;
    width: calc(var(--part) * 3);
    transform: translate(-10%, -15%);
}

#line_1 {
    position: absolute;
    left: 50%;
    top: calc(var(--part) * 0.4);
    transform: translate(-50.5%, -50%);
    width: 56vw;
}

#arrows_1 {
    grid-area: 5 / 2 / 6/ 5;
    width: calc(var(--part) * 5.5);
    transform: translate(5%, -50%);
}

#arrows_2 {
    width: calc(var(--part) * 2.6);
    transform: rotate(7deg) translate(0%, -24%);
}

#arrows_3 {
    grid-area: 10 / 6 / 12/ 8;
    width: calc(var(--part) * 3);
    transform: rotate(140deg) translate(-10%, 20%);
    animation: arrowMove 3s ease-in-out 0.5s infinite alternate;
}

@keyframes arrowMove {
    from {
        transform: rotate(140deg) translate(-10%, 20%);
    }

    to {
        transform: rotate(140deg) translate(10%, 0%);
    }
}

#flower_1 {
    grid-area: 4 / 1 / 9/ 3;
    width: calc(var(--part) * 2.5);
    transform: rotate(-2deg) translate(8%, -12%);
    animation: flowerFlows 5s ease infinite alternate;
}

@keyframes flowerFlows {
    from {
        transform: rotate(-2deg) translate(8%, -12%);
    }

    to {
        transform: rotate(2deg) translate(8%, -12%);
    }
}

#flower_2 {
    grid-area: 2 / 7 / 3/ 9;
    width: calc(var(--part) * 1.5);
    transform: rotate(80deg) translate(40%, -10%);
}

#broken_tape_gray {
    grid-area: 9 / 5 / 11 / 7;
    width: calc(var(--part) * 4.5);
    transform: translate(-33%, 5%);
    z-index: 100;
    pointer-events: none;
}

#stamp_0 {
    grid-area: 1 / 8 / 2/ 9;
    width: calc(var(--part) * 2);
    transform: translate(19%, -34%);
}

#stamp_1 {
    grid-area: 10 / 8 / 13 / 9;
    width: calc(var(--part) * 3);
    transform: translate(-12%, -34%);
}

#stamp_2 {
    grid-area: 11 / 8 / 13 / 9;
    width: calc(var(--part) * 3);
    transform: translate(-9%, 17%) rotate(26deg);
}

#stamp_3 {
    grid-area: 10 / 7 / 13 / 9;
    width: calc(var(--part) * 2.5);
    transform: translate(-12%, 43%);
}

#missing {
    grid-area: 5 / 7 / 11 / 9;
}

#missing_img {
    width: calc(var(--part) * 4.3);
    transform: rotate(6deg) translate(-25%, -18%);
    filter: contrast(160%);
}

.compas_container {
    grid-area: 10 / 1 / 13/ 4;
    transform: translate(-7%, -17%);
    pointer-events: none;
}

#compas {
    width: calc(var(--part) * 6);
    transform-origin: center;
    transform: rotate(350deg);
    animation: compasRotate 10s ease-in-out 0.5s infinite alternate forwards;
}

@keyframes compasRotate {
    from {
        transform: rotate(350deg);
    }

    to {
        transform: rotate(310deg);
    }
}

/* WINDROSE */
/* **************************************************************************** */

.windrose {
    position: relative;
    grid-area: 10 / 2 / 11 / 3;
}

.windrose div {
    position: relative;
}

.animatedLinkButton {
    position: absolute;
    width: calc(var(--part) * 1);
    transition: filter 2s ease, transform 1s ease;
    filter: sepia(100%) hue-rotate(125deg) saturate(0%) brightness(70%);
}

.animatedLinkButton:hover {
    transform: scale(1.1) rotate(10deg);
}

.telegram {
    left: calc(var(--part) * 1);
    bottom: calc(var(--part) * 1.5);
}

.linkedin {
    left: calc(var(--part) * 3);
    top: calc(var(--part) * 2.52);
}

.mail {
    left: calc(var(--part) * 2.1);
    bottom: calc(var(--part) * 0.9);
}

.codepen {
    left: calc(var(--part) * 3.18);
    top: calc(var(--part) * 1.3);
}

.github {
    left: calc(var(--part) * 2.85);
    top: calc(var(--part) * 0.1);
}

/* TOP TEXT */
/* **************************************************************************** */

.top_lrg_1,
.top_lrg_2,
.top_lrg_3 {
    mix-blend-mode: exclusion;
    opacity: 1;
    transform: rotate(7deg);
}

.top_lrg_1 {
    grid-area: 1 / 1 / 2 / 5;
}

.top_lrg_2 {
    grid-area: 2 / 1 / 3 / 5;
}

.top_lrg_3 {
    grid-area: 3 / 1 / 4 / 5;
}

.top_lrg_1 p,
.top_lrg_2 p,
.top_lrg_3 p {
    font-family: 'Vintage_font', sans-serif;
    font-weight: 900;

    font-size: calc(var(--part) * 2.3);
    text-wrap: nowrap;
    position: absolute;
    right: 0;
    color: var(--mainMixBlendedFontColor);
}

.top_med_1 {
    padding: 3em;
    grid-area: 1 / 5 / 2 / 9;
    font-size: calc(var(--part) * 0.35);
    text-align: justify;
}

.top_sm_1 {
    padding: 4em 2em 0 9em;
    grid-area: 3/ 5 / 4 / 9;
    font-size: calc(var(--part) * 0.25);
    text-align: justify;
    transform: translate(0, -10%);
}

/* MIDDLE TEXT */
/* **************************************************************************** */

.middle_lrg_1 {
    height: 1em;
    overflow: hidden;
    font-size: calc(var(--part) * 1.45);
    grid-area: 8 / 2 / 10 / 9;
    word-spacing: -0.3ch;
    letter-spacing: 0;
    line-height: 1em;
    transform: rotate(-6deg) translate(-4%, -50%);
    text-decoration: none;
}

.middle_lrg_1 p {
    transition: transform 0.6s ease;
}

.middle_lrg_1 p:nth-child(2) {
    color: var(--sayHelloBottomFontColor);
}

.middle_lrg_1:hover p {
    transform: translateY(-100%);
}

.middle_lrg_2 {
    font-size: calc(var(--part) * 1.4);
    grid-area: 8 / 5 / 10 / 9;
    transform: rotate(3deg) translate(10%, 25%);
}

.middle_med_1 {
    grid-area: 8 / 7/ 10 / 9;
    transform: rotate(1deg) translate(-25%, -5%);
}

.middle_med_1 p {
    font-size: calc(var(--part) * 0.6);
}

.middle_med_2 {
    padding-top: var(--part);
    grid-area: 4 / 3 / 5 / 9;
    transform: rotate(-3deg) translate(-13%, -18%);
    font-size: calc(var(--part) * 0.7);
}

.middle_med_3 {
    grid-area: 5 / 2 / 6 / 6;
    text-align: justify;
    transform: translate(5%, 35%);
    font-size: calc(var(--part) * 0.21);
}

.middle_med_3 p {
    line-height: 2em;
    margin-bottom: 1em;
}

.middle_med_4 {
    grid-area: 7 / 1 / 8 / 4;
    text-align: justify;
    font-size: calc(var(--part) * 0.3);
    transform: translate(60%, -25%);
}

.middle_med_4 p {
    line-height: 1.5em;
}

/* BOTTOM TEXT */
/* **************************************************************************** */

.bottom_med_1 {
    grid-area: 10 / 4 / 11 / 7;
    text-align: justify;
    font-family: 'Vintage_font', sans-serif;
    font-size: calc(var(--part) * 0.48);
    transform: rotate(-10deg) translate(5%, 0%);
    z-index: 0;
}

/* GLOWING TEXT */
/* **************************************************************************** */

#glowing_text {
    text-wrap: nowrap;
    text-overflow: clip;
}

/* CERTIFICATES LINK */
/* **************************************************************************** */

#certificates_link {
    position: relative;
    background-color: var(--certificatesLinkBGColor);
    padding: 0.1em 0.4em 0.25em;
    border-radius: 0.2em;
    color: var(--certificatesLinkFontColor);
    transition: background-color 1s, color 1s;
    text-decoration: none;
    text-wrap: nowrap;
}

#certificates_link::before,
#certificates_link::after {
    content: '';
    background-color: var(--certificatesLinkPseudoColor);

    width: 96%;
    height: 0.15em;
    position: absolute;

    left: 2%;
    bottom: 0.15em;

    transform: scaleX(0);
    transition: transform 1s ease, background-color 1s ease;
}

#certificates_link::before {
    transform-origin: right;
}

#certificates_link::after {
    transform-origin: left;
}

#certificates_link:hover {
    cursor: pointer;
    background-color: var(--certificatesLinkHoverBGColor);
    color: var(--certificatesLinkHoverFontColor);
}

#certificates_link:hover::after,
#certificates_link:hover::before {
    transform: scaleX(0.5);
    background-color: var(--certificatesLinkHoverFontColor);
}

/* TEXT CUTTED */
/* **************************************************************************** */

.text-cutted {
    grid-area: 7 / 6 / 8 / 9;
    font-size: calc(var(--part) * 0.8);
    line-height: 1em;
    text-align: center;
    mix-blend-mode: difference;
    transform: translate(7%, -50%) rotate(5deg);
}

.text-cutted a {
    color: var(--textCuttedFontColor);
    text-decoration: none;
}

.tc_top {
    height: 0.5em;
    overflow: hidden;
    transform: translateX(-0.1em);
    transition: transform 1s;
}

.text-cutted:hover .tc_top {
    transform: translateX(0em);
}

.tc_bottom {
    height: 0.5em;
    overflow: hidden;
}

.tc_bottom p {
    margin: -0.5em;
    text-decoration: none;
}

/* TAPES */
/* **************************************************************************** */

.tapes {
    position: relative;
    display: flex;
    flex-direction: row;
    grid-area: 12 / 1 / 13 / 9;
    transform: translateY(calc(var(--part) * 1));
    z-index: 1;
}

.tapes div {
    position: absolute;
    transition: all 1s ease-in-out;
}

.tapes div img {
    position: relative;
    width: calc(var(--part) * 4.2);
    height: calc(var(--part) * 2.6);
    filter: saturate(90%);
}

.tapes div p {
    position: absolute;
    font-family: 'Permanent Marker', sans-serif;
    font-weight: 200;
    font-size: calc(var(--part) * 0.24);
    top: 7%;
    left: 35%;
    color: var(--tapesFontColor);
}

/* PROJECTS */
/* **************************************************************************** */

.projects {
    display: none;
    position: fixed;
    margin: 5vh 5vw;
    width: 90vw;
    height: 90vh;
    z-index: 102;
    opacity: 0;
    transform: translateX(-20vw);
    transition: transform 1s ease, opacity 0.5s ease;
}

.projects img,
.projects div {
    position: absolute;
}

.proj_outer {
    height: 86vh;
    width: 86vw;
    top: 4vh;
    left: 4vw;
    background-color: var(--projectWindowOuterPanelColor);
    border-radius: 2vh 13vh;
    transition: height 1s ease 1s, width 1s ease 1s, top 1s ease 1s, left 1s ease 1s;
}

.proj_inner {
    height: 82vh;
    width: 82vw;
    top: 4vh;
    left: 4vw;
    background-color: var(--projectWindowInnerPanelColor);
    border-radius: 2vh 9vh;
}

.proj_gallery {
    position: absolute;
    height: 76vh;
    width: 50vw;
    top: 3vh;
    left: 3vw;
    border-radius: 1vh 6vh;
    background-image: url(../images/gallery_images/nosignal.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    animation: galleryMove 6s ease infinite;
}

@keyframes galleryMove {
    0% {
        background-position: center bottom;
    }
    100% {
        background-position: center top;
    }
}

.proj_decriber {
    height: 76vh;
    width: 24vw;
    top: 3vh;
    right: 3vw;
    padding: 4vh 2vh;
    color: var(--projectDescriberFontColor);
    background-color: var(--projectDescriberBGColor);
    border-radius: 1vh 6vh 1vh 1vh;
    font-size: calc(var(--part) * 0.2);
    overflow-y: scroll;
    overflow-x: hidden;
}

.proj_decriber p {
    padding-bottom: 0.5em;
    line-height: 1.4em;
}

.proj_decriber a {
    color: var(--projectDescriberLinkFontColor);
}

/* PROJECTS BUTTONS */
/* **************************************************************************** */

#previous_btn,
#next_btn {
    height: 4vw;
    width: 4vw;
    top: calc(50% - 10vw);
    z-index: 103;
    transform: scale(0.99);
    transition: transform 0.8s ease, opacity 0.8s ease 1.5s;
}

#previous_btn {
    margin: 10vw 5vw 10vw 0;
    opacity: 0;
    left: 0vw;
}

#next_btn {
    margin: 10vw 0vw 10vw 5vw;
    right: 0vw;
}

#previous_btn:hover {
    transform: scale(0.99) translateX(-15%);
}

#next_btn:hover {
    transform: scale(0.99) translateX(15%);
}

#cross_btn {
    height: 4vw;
    width: 4vw;
    top: -2vw;
    right: -2vw;
    transform-origin: center;
    transform: scale(0.8);
    transition: transform 0.8s ease, filter 0.8s ease;
}

#cross_btn:hover {
    transform: scale(0.99) rotate(10deg);
    filter: brightness(120%);
}

/* PROJECTS SCROLLBAR */
/* **************************************************************************** */

.proj_decriber::-webkit-scrollbar {
    width: 5px;
}
.proj_decriber::-moz-scrollbar {
    width: 5px;
}
.proj_decriber::-ms-scrollbar {
    width: 5px;
}

.proj_decriber::-webkit-scrollbar-thumb {
    background-color: var(--projectDescriberScrollbarThumb);
    border-radius: 5px;
}
.proj_decriber::-moz-scrollbar-thumb {
    background-color: var(--projectDescriberScrollbarThumb);
    border-radius: 5px;
}
.proj_decriber::-ms-scrollbar-thumb {
    background-color: var(--projectDescriberScrollbarThumb);
    border-radius: 5px;
}

.proj_decriber::-webkit-scrollbar-track {
    margin: 6vh;
    background-color: var(--projectScrollbarTrackColor);
    border: none;
}
.proj_decriber::-moz-scrollbar-track {
    margin: 6vh;
    background-color: var(--projectScrollbarTrackColor);
    border: none;
}
.proj_decriber::-ms-scrollbar-track {
    margin: 6vh;
    background-color: var(--projectScrollbarTrackColor);
    border: none;
}

/* MEDIA */
/* **************************************************************************** */

@media screen and (max-width: 900px) {
    .slides_container,
    .vignette {
        display: none;
    }

    .intro_strip {
        width: 12.5%;
    }

    main {
        grid-template-rows: repeat(16, var(--part_dbl));
    }

    #horse {
        width: calc(var(--part) * 6.4) !important;
        transform: translate(-11%, 0%) !important;
    }

    #missing {
        transform: scale(1.2) translate(10%, 20%);
        grid-area: 7 / 7 / 10 / 9 !important;
    }

    #arrows_1 {
        grid-area: 5 / 1 / 6/ 5 !important;
        width: calc(var(--part) * 6) !important;
        transform: translate(18%, -55%) !important;
    }

    #arrows_3 {
        grid-area: 13 / 6 / 15/ 8 !important;
    }

    #flower_1 {
        display: none;
    }

    #flower_2 {
        display: none;
    }

    #stamp_0 {
        width: calc(var(--part) * 2.5) !important;
        transform: translate(5%, -75%) !important;
    }

    #stamp_1 {
        grid-area: 13 / 8 / 15 / 9 !important;
    }

    #stamp_2 {
        grid-area: 14 / 8 / 16 / 9 !important;
    }

    #stamp_3 {
        grid-area: 13 / 7 / 15 / 9 !important;
    }

    .compas_container {
        grid-area: 13 / 1 / 15/ 4 !important;
    }

    #broken_tape_gray {
        grid-area: 12 / 5 / 13 / 7 !important;
    }

    .windrose {
        grid-area: 13 / 2 / 15 / 3 !important;
    }

    .top_lrg_1,
    .top_lrg_2,
    .top_lrg_3 {
        transform: rotate(7deg) translate(-10%, -40%) !important;
    }

    .top_med_1 {
        padding: 1em !important;
        font-size: calc(var(--part) * 0.45) !important;
        text-align: start !important;
    }

    .top_sm_1 {
        grid-area: 3/ 5 / 5 / 9 !important;
        font-size: calc(var(--part) * 0.4) !important;
        transform: translate(-8%, -30%) !important;
    }

    .middle_lrg_1 {
        grid-area: 11 / 2 / 12 / 9 !important;
    }

    .middle_lrg_2 {
        grid-area: 11 / 5 / 13 / 9 !important;
    }

    .middle_med_1 {
        grid-area: 11 / 7/ 13 / 9 !important;
    }

    .middle_med_2 {
        transform: rotate(-3deg) translate(-25%, -55%) !important;
        font-size: calc(var(--part) * 0.9) !important;
    }

    .middle_med_3 {
        grid-area: 5 / 1 / 8 / 6 !important;
        transform: translate(5%, 35%) !important;
        font-size: calc(var(--part) * 0.4) !important;
    }

    .middle_med_3 p {
        line-height: 1.5em !important;
        text-align: center;
    }

    .middle_med_4 {
        grid-area: 9 / 1 / 11 / 6 !important;
        font-size: calc(var(--part) * 0.5) !important;
        transform: translate(5%, -50%) !important;
    }

    .bottom_med_1 {
        grid-area: 13 / 4 / 14 / 6 !important;
    }

    .text-cutted {
        grid-area: 10 / 6 / 11 / 9 !important;
        font-size: calc(var(--part) * 0.9) !important;
        transform: translate(6%, -78%) rotate(5deg) !important;
    }

    .tapes {
        grid-area: 15 / 1 / 16 / 9 !important;
    }

    .projects {
        margin: 7vh auto 3vh;
        width: 100vw;
    }

    .proj_gallery {
        height: 48vh;
        width: 76vw;
    }

    .proj_decriber {
        height: 25vh;
        width: 76vw;
        top: 54vh;
        padding: 2vh;
        font-size: calc(var(--part) * 0.45);
        border-radius: 1vh 1vh 1vh 6vh;
    }

    .proj_outer {
        width: 96vw;
        left: 8vw;
    }

    .proj_inner {
        left: 8vw;
    }

    #previous_btn,
    #next_btn {
        height: 7vw;
        width: 7vw;
    }

    #next_btn {
        right: 2vw;
    }
}

@media screen and (min-width: 650px) and (max-width: 900px) {
    #cross_btn {
        height: 7vw;
        width: 7vw;
        top: -4vh;
        right: 4vw;
    }
}

@media screen and (max-width: 650px) {
    #cross_btn {
        height: 10vw;
        width: 10vw;
        top: -4vh;
        right: 4vw;
    }
}
